<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="DIGEX: We create your digital experience.">
		<title>{{ title|default('DIGEX - We create digital experiences') }}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Notable&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
		{{ craft.vite.script('src/js/app.js', false) }}
		{% block scripts %}{% endblock %}
		{{ craft.vite.script('src/js/utilities.js', false) }}
	</head>
	<body>
		{% include '_shared/_general/_navbar' %}

		{% block content %}{% endblock %}

		{% include "_shared/_general/_footer" %}
	</body>
</html>
