@use '../config' as *;

:root {
    --grid-gutter-width: 2rem;
    --container-width: 95rem;
    --page-gutter: var(--grid-gutter-width);

    --color-primary-red: #cf462a;
    --color-primary-darkenred: #a73e29;
    --color-primary-blue: #88bee2;
    --color-primary-purple: #5b35d5;
    --color-secondary-violet: #c05ac9;
    --color-secondary-skyblue: #69afff;
    --color-secondary-green: #35c06f;
    --color-secondary-red: #e54233;
    --color-secondary-gold: #ffc169;
    --color-secondary-blue: #697dff;
    --color-neutral-white: #fff;
    --color-neutral-white-rgb: 255, 255, 255;
    --color-neutral-brightbrokenwhite: #fbfbfb;
    --color-neutral-brokenwhite: #f5f5f5;
    --color-neutral-brightgray: #e8e8e8;
    --color-neutral-lightgray: #efefef;
    --color-neutral-gray: #c9c9c9;
    --color-neutral-darkgray: #9f9f9f;
    --color-neutral-midgray: #6f6f6f;
    --color-neutral-darkmidgray: #5a5a5a;
    --color-neutral-brightblack: #4b4b4b;
    --color-neutral-brokenblack: #2a2a2a;
    --color-neutral-black: #000;
    --color-neutral-black-rgb: 0, 0, 0;
    --color-functional-gold: #ffbb00;
    --color-functional-red: #d93025;
    --color-functional-orange: #ff8c00;
    --color-functional-green: #00a71f;
    --color-client: var(--color-primary-red);

    --color-primary: var(--color-primary-red);
    --color-primary-hover: var(--color-primary-darkenred);
    --color-text: var(--color-neutral-brokenblack);
    --color-muted: var(--color-neutral-midgray);
    --color-border: var(--color-neutral-gray);
    --color-background: var(--color-neutral-white);
    --color-background-soft: var(--color-neutral-brokenwhite);
    --color-overlay: rgb(0 0 0 / 60%);

    --section-padding-sm: 1rem;
    --section-padding-md: 1.5rem;
    --section-padding-lg: 2rem;
    --section-padding-xl: 3rem;
    --section-gap-xxs: .25rem;
    --section-gap-xs: .5rem;
    --section-gap-sm: .75rem;
    --section-gap-md: 1rem;
    --section-gap-lg: 1.5rem;
    --section-gap-xl: 2rem;
    --section-gap-xxl: 3rem;
    --section-space: 3rem;
    --card-padding-xs: .5rem;
    --card-padding-sm: .75rem;
    --card-padding-md: 1rem;
    --card-padding-lg: 1.5rem;
    --card-gap-xs: .5rem;
    --card-gap-sm: .75rem;
    --card-gap-md: 1rem;
    --card-gap-lg: 1.5rem;
    --navbar-height: 5.5rem;

    // @include down(xxxl) {
    //     --grid-gutter-width: 5rem;
    // }

    // @include down(xxl) {
    //     --grid-gutter-width: 3rem;
    // }

    // @include down(lg) {
    //     --grid-gutter-width: 2rem;
    // }

    // @include down(md) {
    //     --grid-gutter-width: 1.5rem;
    // }

    // @include down(sm) {
    //     --grid-gutter-width: 1.25rem;
    // }

    // @include down(xs) {
    //     --grid-gutter-width: 1rem;
    // }
}