@use '../../config' as *;

.c-navbar {
    position: fixed;
    z-index: 100;
    width: 100%;

    &__logo {
        margin-right: auto;

        svg {}
    }

    &__inner {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__navlist {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__navlink {
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;

        &:hover {
            text-decoration: underline;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 1rem;

        mix-blend-mode: normal;
    }
}