@use '../../config' as *;

.c-navbar {

    &__logo {
        margin-right: auto;

        svg {
            fill: black;
            mix-blend-mode: difference;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__navlist {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}