@use '../../config' as *;

.c-navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    mix-blend-mode: difference;
    color: white;

    &__logo {
        margin-right: auto;

        svg {
            fill: white;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__navlist {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__navlink {
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;

        &:hover {
            text-decoration: underline;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 1rem;

        mix-blend-mode: normal;
    }
}