@use 'sass:map';
@use '../config' as *;

// Components used by the homepage only. e.g. @use '../components/buttons/button';

.s-hero-home {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: $color-neutral-white;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, .5) 20%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, .5) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .5) 60%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, .7) 80%, rgba(0, 0, 0, 0) 100%);
        display: none;
    }

    &__inner {
        padding-top: calc(map.get($section-paddings, md) + $navbar-height);
        padding-bottom: map.get($section-paddings, md);
        height: 100vh;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__heading-container {
        display: flex;
        flex-direction: column;
        gap: map.get($section-gaps, lg);
    }

    &__heading {

        span {
            &[data-text="bold"] {
                font-family: $font-family-notable;
            }

            &[data-text="serif"] {
                font-family: $font-family-playfair;
            }

            &[data-text="cursive"] {
                font-family: $font-family-aguafina;
            }
        }
    }

    &__stats {
        margin-top: auto;
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: map.get($section-gaps, md);

        article {
            padding-bottom: map.get($component-paddings, md);
            border-bottom: $stroke-smooth;

            h2 {
                @include fs-h2-md($ff: $font-family-body);
            }
        }
    }

    &__reviews {
        display: flex;
        flex-direction: column;
        gap: map.get($section-gaps, md);
        margin-left: auto;
    }

    &__beetle {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(40%);
        width: 30%;
    }
}

.s-flowers {
    height: 500vh;
    position: relative;

    &__wrap {
        position: sticky;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    &__video {
        display: block;

        position: sticky;
        top: 0;
        width: auto;
        height: 90%;
        max-height: 60rem;

        object-fit: contain;
        pointer-events: none;
    }
}

.s-cta-projects {
    --projects: 0;
    --section-height: 500vh;

    position: relative;
    display: flex;
    height: var(--section-height);
    margin-top: -75vh;

    &__wrap {
        position: sticky;
        top: 0;

        display: flex;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    &__slide {
        display: flex;
        align-items: center;

        width: max-content;
        min-width: max-content;
        height: 100vh;

        background-color: $color-neutral-white;
        clip-path: inset(0);
        will-change: transform;
        padding-top: $navbar-height;

        &>* {
            flex: 0 0 50vw;
            width: 50vw;
            height: 100%;

            transform: translate3d(0, 100%, 0);
            will-change: transform;
        }

        &> :nth-child(-n + 2) {
            transform: translate3d(0, 0, 0);
        }
    }

    &__header,
    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: map.get($section-gaps, md);
    }
}

.c-card-project-lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: map.get($component-paddings, xl) $grid-gutter-width;

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;

        img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

.s-development {
    margin-top: -260vh;
    height: 550vh;
    width: 100%;

    &__wrap {
        position: sticky;
        z-index: -1;
        top: 0;
        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $color-neutral-nightnavyblack;

        // mask-image: linear-gradient(to top,
        //         rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1) 5%,
        //         rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 20%, // Break
        //         rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 20%,
        //         rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 40%, // Break
        //         rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 40%,
        //         rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 60%, // Break
        //         rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 60%,
        //         rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 80%, // Break
        //         rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 80%,
        //     );

        // mask-image: linear-gradient(to top,
        //         rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 10%,
        //         rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 20%, // Break
        //         rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 25%,
        //         rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 40%, // Break
        //         rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 40%,
        //         rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 60%, // Break
        //         rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 60%,
        //         rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 80%, // Break
        //         rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 80%,
        //     );

        // mask-image: linear-gradient(to top,
        //         rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 1) 15%,
        //         rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 20%, // Break
        //         rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 30%,
        //         rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 40%, // Break
        //         rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 1) 45%,
        //         rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 60%, // Break
        //         rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 60%,
        //         rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 80%, // Break
        //         rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 80%,
        //     );

        // mask-image: linear-gradient(to top,
        //         rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 20%,
        //         rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 20%, // Break
        //         rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 1) 35%,
        //         rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 40%, // Break
        //         rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 50%,
        //         rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 60%, // Break
        //         rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 1) 65%,
        //         rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 80%, // Break
        //         rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 80%,
        //     );

        // mask-image: linear-gradient(to top,
        //         rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 20%,
        //         rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 20%, // Break
        //         rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 40%,
        //         rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 40%, // Break
        //         rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 1) 55%,
        //         rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 60%, // Break
        //         rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 70%,
        //         rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 80%, // Break
        //         rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 1) 85%,
        //     );

        // mask-image: linear-gradient(to top,
        //         rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 20%,
        //         rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 20%, // Break
        //         rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 40%,
        //         rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 40%, // Break
        //         rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 60%,
        //         rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 60%, // Break
        //         rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 75%,
        //         rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 80%, // Break
        //         rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 1) 90%,
        //     );

        // mask-image: linear-gradient(to top,
        //         rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 20%,
        //         rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 20%, // Break
        //         rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 40%,
        //         rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 40%, // Break
        //         rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 60%,
        //         rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 60%, // Break
        //         rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 80%,
        //         rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 80%, // Break
        //         rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 1) 95%,
        //     );

        // mask-image: linear-gradient(to top,
        //         rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 20%,
        //         rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 20%, // Break
        //         rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 40%,
        //         rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 40%, // Break
        //         rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 60%,
        //         rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 60%, // Break
        //         rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 80%,
        //         rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 80%, // Break
        //         rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 1) 100%,
        //     );
    }

    &__video {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__image {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(100%);
        width: 80%;
        height: auto;
        will-change: transform;
    }
}

.s-motiondesign {
    height: 400vh;
    margin-top: -75vh;

    &__wrap {
        position: sticky;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__bg-text {
        position: absolute;
        text-align: center;
        font-family: $font-family-notable;
        font-size: 18vh;
        text-wrap: nowrap;
        opacity: 0.05;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
    }

    #stage {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    canvas {
        display: block;
    }
}