<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>DIGEX - We create digital experiences</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Notable&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
		{{ craft.vite.script('src/js/app.js', false) }}
		{{ craft.vite.script('src/js/pages/home.js', false) }}
		{{ craft.vite.script('src/js/utilities.js', false) }}
	</head>
	<body>
		{% include '_shared/_general/_navbar.twig' %}

		<header class="s-hero-home">
			{% set homePage = craft.entries.section('pageHome').one() %}

			<div class="container">
				<div class="s-hero-home__inner">
					<div class="s-hero-home__heading-container">
						<h1 class="fs-h1-lg">{{ homePage.title }}</h1>
						<a class="c-btn-secondary c-btn-secondary--md" href="#">Request your price</a>
					</div>
					<div class="s-hero-home__stats">
						<article>
							<h2>128+</h2>
							<p>128+ projects completed</p>
						</article>
						<article>
							<h2>50+</h2>
							<p>50+ satisfied clients</p>
						</article>
						<article>
							<h2>10+</h2>
							<p>10+ years of experience</p>
						</article>
					</div>
				</div>
			</div>
		</header>
	</body>
</html>
