CRAFT_APP_ID=

CRAFT_SECURITY_KEY=
CRAFT_DB_DRIVER=mysql
CRAFT_DB_SERVER=db
CRAFT_DB_PORT=3306
CRAFT_DB_DATABASE=db
CRAFT_DB_USER=db
CRAFT_DB_PASSWORD=db
CRAFT_DB_SCHEMA=
CRAFT_DB_TABLE_PREFIX=

CRAFT_ENVIRONMENT=dev
CRAFT_DEV_MODE=true

DIGEX_NL_SITE_URL=https://digex.ddev.site/nl
DIGEX_EN_SITE_URL=https://digex.ddev.site/en
DIGEX_FR_SITE_URL=https://digex.ddev.site/fr