@use 'sass:map';
@use '../../config' as *;

.c-btn-secondary {
    background-color: $color-neutral-white;
    color: $color-neutral-navyblack;
    display: inline-flex;
    width: fit-content;

    &--md {
        @include fs-body-md;
        padding: .5rem 1rem;
        border-radius: map.get($border-radius, pill);
    }

    &--dark {
        background-color: $color-neutral-navyblack;
        color: $color-neutral-white;
    }
}