@use 'breakpoints' as *;

:root {
    --grid-gutter-width: 1.5rem;
    --container-width: 95rem;
    --page-gutter: var(--grid-gutter-width);

    --color-primary: #B337B4;
    --color-neutral-white: #FFFFFF;
    --color-neutral-softwhite: #F8F9FA;
    --color-neutral-brokenwhite: #F0F4F5;
    --color-neutral-nightnavyblack: #17172B;
    --color-neutral-navyblack: #08080F;
    --color-neutral-black: #000000;

    --section-padding-xl: 3rem;
    --section-padding-lg: 2rem;
    --section-padding-md: 1.5rem;
    --section-padding-sm: 1rem;
    --section-padding-xs: .75rem;

    --section-gap-xxl: 3rem;
    --section-gap-xl: 2rem;
    --section-gap-lg: 1.5rem;
    --section-gap-md: 1rem;
    --section-gap-sm: .75rem;
    --section-gap-xs: .5rem;
    --section-gap-xxs: .25rem;

    --component-padding-lg: 1.5rem;
    --component-padding-md: 1rem;
    --component-padding-sm: .75rem;
    --component-padding-xs: .5rem;

    --component-gap-lg: 1.5rem;
    --component-gap-md: 1rem;
    --component-gap-sm: .75rem;
    --component-gap-xs: .5rem;

    --navbar-height: 5.5rem;

    --border-radius-rounded: 1000rem;
    --border-radius-xxxl: 3rem;
    --border-radius-xxl: 2rem;
    --border-radius-xl: 1.5rem;
    --border-radius-lg: 1rem;
    --border-radius-md: .75rem;
    --border-radius-sm: .5rem;
    --border-radius-xs: .375rem;
    --border-radius-xxs: .25rem;

    @include media-breakpoint-up(xl) {
        --grid-gutter-width: 2.5rem;
    }
}

// Grid system

$grid-columns: 12;
$grid-gutter-width: var(--grid-gutter-width);
$order-columns: 5;

$container-max-widths: (
    xs: 100%,
    sm: 100%,
    md: 100%,
    lg: 100%,
    xl: 100%,
    xxl: 100%,
    xxxl: 100%,
    xxxxl: 100% // xxxl: 1520px, xxxxl: 1720px
);

// Typography

$font-family-notable: 'Notable', sans-serif;
$font-family-playfair: 'Playfair Display', serif;
$font-family-aguafina: 'Aguafina Script', cursive;
$font-family-heading: 'Notable', sans-serif;
$font-family-body: 'Schibsted Grotesk', sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

// Color styles

$color-primary: var(--color-primary);
$color-neutral-white: var(--color-neutral-white);
$color-neutral-softwhite: var(--color-neutral-softwhite);
$color-neutral-brokenwhite: var(--color-neutral-brokenwhite);
$color-neutral-nightnavyblack: var(--color-neutral-nightnavyblack);
$color-neutral-navyblack: var(--color-neutral-navyblack);
$color-neutral-black: var(--color-neutral-black);

// Spacing styles

$section-paddings: (
    xs: var(--section-padding-xs),
    sm: var(--section-padding-sm),
    md: var(--section-padding-md),
    lg: var(--section-padding-lg),
    xl: var(--section-padding-xl)
);

$section-gaps: (
    xxs: var(--section-gap-xxs),
    xs: var(--section-gap-xs),
    sm: var(--section-gap-sm),
    md: var(--section-gap-md),
    lg: var(--section-gap-lg),
    xl: var(--section-gap-xl),
    xxl: var(--section-gap-xxl)
);

$component-paddings: (
    xs: var(--component-padding-xs),
    sm: var(--component-padding-sm),
    md: var(--component-padding-md),
    lg: var(--component-padding-lg)
);

$component-gaps: (
    xs: var(--component-gap-xs),
    sm: var(--component-gap-sm),
    md: var(--component-gap-md),
    lg: var(--component-gap-lg)
);

$navbar-height: var(--navbar-height);

// Layer styles

$border-radius: (
    xxs: var(--border-radius-xxs),
    xs: var(--border-radius-xs),
    sm: var(--border-radius-sm),
    md: var(--border-radius-md),
    lg: var(--border-radius-lg),
    xl: var(--border-radius-xl),
    xxl: var(--border-radius-xxl),
    xxxl: var(--border-radius-xxxl),
    pill: var(--border-radius-rounded)
);

$stroke-smooth: 1px solid color-mix(in srgb, $color-neutral-navyblack 20%, transparent);

$box-shadow-lg: 0 8px 24px rgb(0 0 0 / 25%);
$box-shadow-md: 0 4px 12px rgb(0 0 0 / 10%);
$box-shadow-sm: 0 2px 8px rgb(0 0 0 / 10%);
$box-shadow-smooth: 0 14px 30px rgb(0 0 0 / 4%);
$card-shadow-md: 0 2px 8px 1px rgb(0 0 0 / 10%);
$text-shadow-sm: 0 1px 2px rgb(0 0 0 / 75%);
$text-shadow-md: 0 4px 4px rgb(0 0 0 / 25%);

$transition-fast: 150ms ease;
$transition-normal: 250ms ease;

// Animations

@keyframes skeleton-loading {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}