:root {
    --grid-gutter-width: 1.5rem;
    --container-width: 95rem;
    --page-gutter: var(--grid-gutter-width);

    --color-primary: #B337B4;
    --color-neutral-white: #FFFFFF;
    --color-neutral-black: #000000;

    --section-padding-xl: 3rem;
    --section-padding-lg: 2rem;
    --section-padding-md: 1.5rem;
    --section-padding-sm: 1rem;
    --section-padding-xs: .75rem;

    --section-gap-xxl: 3rem;
    --section-gap-xl: 2rem;
    --section-gap-lg: 1.5rem;
    --section-gap-md: 1rem;
    --section-gap-sm: .75rem;
    --section-gap-xs: .5rem;
    --section-gap-xxs: .25rem;

    --card-padding-lg: 1.5rem;
    --card-padding-md: 1rem;
    --card-padding-sm: .75rem;
    --card-padding-xs: .5rem;

    --card-gap-lg: 1.5rem;
    --card-gap-md: 1rem;
    --card-gap-sm: .75rem;
    --card-gap-xs: .5rem;

    --navbar-height: 5.5rem;

    --border-radius-rounded: 1000rem;
    --border-radius-xxxl: 3rem;
    --border-radius-xxl: 2rem;
    --border-radius-xl: 1.5rem;
    --border-radius-lg: 1rem;
    --border-radius-md: .75rem;
    --border-radius-sm: .5rem;
    --border-radius-xs: .375rem;
    --border-radius-xxs: .25rem;
}

// Grid system

$grid-columns: 12;
$grid-gutter-width: var(--grid-gutter-width);
$order-columns: 5;

$container-max-widths: (
    xs: 100%,
    sm: 100%,
    md: 100%,
    lg: 100%,
    xl: 100%,
    xxl: 100%,
    xxxl: 1520px,
    xxxxl: 1720px
);

// Typography

$font-family-heading: 'Nunito', sans-serif;
$font-family-body: 'Nunito', sans-serif;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

// Color styles

$color-primary: var(--color-primary);
$color-neutral-white: var(--color-neutral-white);
$color-neutral-black: var(--color-neutral-black);

// Spacing styles

$section-padding-xl: var(--section-padding-xl);
$section-padding-lg: var(--section-padding-lg);
$section-padding-md: var(--section-padding-md);
$section-padding-sm: var(--section-padding-sm);
$section-padding-xs: var(--section-padding-xs);

$section-gap-xxl: var(--section-gap-xxl);
$section-gap-xl: var(--section-gap-xl);
$section-gap-lg: var(--section-gap-lg);
$section-gap-md: var(--section-gap-md);
$section-gap-sm: var(--section-gap-sm);
$section-gap-xs: var(--section-gap-xs);
$section-gap-xxs: var(--section-gap-xxs);

$card-padding-lg: var(--card-padding-lg);
$card-padding-md: var(--card-padding-md);
$card-padding-sm: var(--card-padding-sm);
$card-padding-xs: var(--card-padding-xs);

$card-gap-lg: var(--card-gap-lg);
$card-gap-md: var(--card-gap-md);
$card-gap-sm: var(--card-gap-sm);
$card-gap-xs: var(--card-gap-xs);

$navbar-height: var(--navbar-height);

// Layer styles

$border-radius-rounded: var(--border-radius-rounded);
$border-radius-xxxl: var(--border-radius-xxxl);
$border-radius-xxl: var(--border-radius-xxl);
$border-radius-xl: var(--border-radius-xl);
$border-radius-lg: var(--border-radius-lg);
$border-radius-md: var(--border-radius-md);
$border-radius-sm: var(--border-radius-sm);
$border-radius-xs: var(--border-radius-xs);
$border-radius-xxs: var(--border-radius-xxs);

$box-shadow-lg: 0 8px 24px rgb(0 0 0 / 25%);
$box-shadow-md: 0 4px 12px rgb(0 0 0 / 10%);
$box-shadow-sm: 0 2px 8px rgb(0 0 0 / 10%);
$box-shadow-smooth: 0 14px 30px rgb(0 0 0 / 4%);
$card-shadow-md: 0 2px 8px 1px rgb(0 0 0 / 10%);
$text-shadow-sm: 0 1px 2px rgb(0 0 0 / 75%);
$text-shadow-md: 0 4px 4px rgb(0 0 0 / 25%);

$transition-fast: 150ms ease;
$transition-normal: 250ms ease;

// Animations

@keyframes skeleton-loading {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}