<footer class="c-footer">
	<div class="c-footer__bg"></div>

	<div class="container">

		<div class="c-footer__row row">
			<div class="col-4">
				<nav class="c-footer__branding">
					<div class="c-footer__branding-details">
						<a class="c-footer__branding-link" href="#">
							1750 Lennik, Belgium
						</a>
						<a class="c-footer__branding-link" href="#">
							+32 2 123 45 67
						</a>
						<a class="c-footer__branding-link" href="#">
							info@company.com
						</a>
					</div>

					<div class="c-footer__branding-socials">
						<a class="c-btn-social" href="#">
							<img src="/assets/logos/logo-facebook.svg" alt="Facebook logo">
						</a>
						<a class="c-btn-social" href="#">
							<img src="/assets/logos/logo-instagram.svg" alt="Instagram logo">
						</a>
						<a class="c-btn-social" href="#">
							<img src="/assets/logos/logo-linkedin.svg" alt="LinkedIn logo">
						</a>
						<a class="c-btn-social" href="#">
							<img src="/assets/logos/logo-twitter.svg" alt="Twitter logo">
						</a>
					</div>

					<p class="c-footer__branding-text">Crafting digital excellence through innovative strategy, bold design, and flawless execution.</p>
				</nav>
			</div>

			<div class="col-8">
				<nav class="c-footer__nav">
					<section class="c-footer__nav-section">
						<h3 class="c-footer__nav-heading">Quick links</h3>
						<ul class="c-footer__nav-list">
							<li>
								<a class="c-footer__navlink" href="#">Home</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">About</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Services</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Portfolio</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Contact</a>
							</li>
						</ul>
					</section>
					<section class="c-footer__nav-section">
						<h3 class="c-footer__nav-heading">Quick links</h3>
						<ul class="c-footer__nav-list">
							<li>
								<a class="c-footer__navlink" href="#">Home</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">About</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Services</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Portfolio</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Contact</a>
							</li>
						</ul>
					</section>
					<section class="c-footer__nav-section">
						<h3 class="c-footer__nav-heading">Quick links</h3>
						<ul class="c-footer__nav-list">
							<li>
								<a class="c-footer__navlink" href="#">Home</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">About</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Services</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Portfolio</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Contact</a>
							</li>
						</ul>
					</section>
				</nav>
			</div>

			<img class="c-footer__logo" src="/assets/illustrations/logo-digex.png" alt="DIGEX logo">

			<div class="c-footer__bottom">
				<img class="c-footer__bottom-logo" src="/assets/logos/logo-craftcms.svg" alt="Craft CMS logo">

				<div>
					<a href="#">Privacy policy</a>
					<a href="#">Cookies</a>
					<a href="#">Terms &amp; conditions</a>
				</div>
				<p>&copy; 2025 DIGEX. All rights reserved.</p>
			</div>
		</div>
	</footer>
