<footer class="c-footer">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<nav class="c-footer__branding">
					<div class="c-footer__branding-details">
						<a class="c-footer__branding-link" href="#">
							1750 Lennik, Belgium
						</a>
						<a class="c-footer__branding-link" href="#">
							+32 2 123 45 67
						</a>
						<a class="c-footer__branding-link" href="#">
							info@company.com
						</a>
					</div>
					<p>Crafting digital excellence through innovative strategy, bold design, and flawless execution.</p>
				</nav>
			</div>

			<div class="col-8">
				<nav class="c-footer__nav">
					<div class="c-footer__nav-item">
						<h3 class="c-footer__nav-heading">Quick links</h3>
						<ul class="c-footer__nav-list">
							<li>
								<a class="c-footer__navlink" href="#">Home</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">About</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Services</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Portfolio</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Contact</a>
							</li>
						</ul>
					</div>
					<div class="c-footer__nav-item">
						<h3 class="c-footer__nav-heading">Quick links</h3>
						<ul class="c-footer__nav-list">
							<li>
								<a class="c-footer__navlink" href="#">Home</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">About</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Services</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Portfolio</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Contact</a>
							</li>
						</ul>
					</div>
					<div class="c-footer__nav-item">
						<h3 class="c-footer__nav-heading">Quick links</h3>
						<ul class="c-footer__nav-list">
							<li>
								<a class="c-footer__navlink" href="#">Home</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">About</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Services</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Portfolio</a>
							</li>
							<li>
								<a class="c-footer__navlink" href="#">Contact</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>

			<div class="col-12">
				<img class="c-footer__logo" src="/assets/illustrations/logo-digex.png" alt="DIGEX logo">
			</div>
		</div>
	</div>
</footer>
