<nav class="c-navbar">
	<div class="container">
		<div class="c-navbar__inner">
			<a class="c-navbar__logo" href="/">
				{% include '_shared/_logos/_logo.twig' %}
			</a>
			<ul class="c-navbar__navlist">
				<li>
					<a class="c-navbar__navlink" href="/">Home</a>
				</li>
				<li>
					<a class="c-navbar__navlink" href="/about">About</a>
				</li>
				<li>
					<a class="c-navbar__navlink" href="/services">Services</a>
				</li>
				<li>
					<a class="c-navbar__navlink" href="/cases">Cases</a>
				</li>
				<li>
					<a class="c-navbar__navlink" href="/blog">Blog</a>
				</li>
				<li>
					<a class="c-navbar__navlink" href="/work-with-us">Work with us</a>
				</li>
			</ul>
			<div class="c-navbar__actions">
				<a href="mailto:info@digex.com">info@digex.com</a>
				<div class="c-language-picker">
					<button>EN</button>
					<ul>
						<li><a href="/en">EN</a></li>
						<li><a href="/nl">NL</a></li>
						<li><a href="/fr">FR</a></li>
					</ul>
				</div>
				<a class="c-btn-primary c-btn-primary--md" href="/contact">Get a quote</a>
			</div>
		</div>
	</div>
</nav>
