@use 'config' as *;

body {
    position: relative;
    font-family: $font-family-body;
    background-color: $color-neutral-brokenwhite;
    background-image: url(/assets/textures/bg-fractal-noise.webp);
    background-attachment: fixed;

    color: $color-neutral-navyblack;
}

a {
    color: inherit;
    text-decoration: none;
}

input[type='search'],
input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='number'],
textarea {
    width: 100%;
}