@use "sass:map";
@use "sass:list";
@use "sass:math";

:root {
    --grid-gutter-width: 2rem;

    @media (width < 1600px) {
        --grid-gutter-width: 5rem;
    }

    @media (width < 1400px) {
        --grid-gutter-width: 3rem;
    }

    @media (width < 992px) {
        --grid-gutter-width: 2rem;
    }

    @media (width < 768px) {
        --grid-gutter-width: 1.5rem;
    }

    @media (width < 576px) {
        --grid-gutter-width: 1.25rem;
    }

    @media (width < 400px) {
        --grid-gutter-width: 1rem;
    }
}

$grid-columns: 12;
$grid-gutter-width: 2rem;
$order-columns: 5;

$breakpoints: (
    xxs: 0,
    xs: 400px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1600px,
    xxxxl: 1800px
);

$container-max-widths: (
    xs: 100%,
    sm: 100%,
    md: 100%,
    lg: 100%,
    xl: 100%,
    xxl: 100%,
    xxxl: 1520px,
    xxxxl: 1720px
);

@mixin media-breakpoint-up($name) {
    $min: map.get($breakpoints, $name);

    @if $min ==null {
        @error "Breakpoint `#{$name}` does not exist.";
    }

    @if $min ==0 {
        @content;
    }

    @else {
        @media (min-width: $min) {
            @content;
        }
    }
}

@mixin media-breakpoint-down($name) {
    $max: map.get($breakpoints, $name);

    @if $max ==null {
        @error "Breakpoint `#{$name}` does not exist.";
    }

    @if $max ==0 {
        @error "You cannot do a media-breakpoint-down on 0 (#{$name}).";
    }

    $max-width: $max - 0.02px;

    @media (max-width: $max-width) {
        @content;
    }
}

.container,
.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--grid-gutter-width);
    padding-left: var(--grid-gutter-width);
}

.container {
    @each $breakpoint, $max-width in $container-max-widths {
        @include media-breakpoint-up($breakpoint) {
            max-width: $max-width;
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: math.div($grid-gutter-width, -2);
    margin-left: math.div($grid-gutter-width, -2);
}

.row>* {
    width: 100%;
    max-width: 100%;
    padding-right: math.div($grid-gutter-width, 2);
    padding-left: math.div($grid-gutter-width, 2);
}

.col {
    flex: 1 0 0%;
}

@for $i from 1 through $grid-columns {
    .col-#{$i} {
        flex: 0 0 auto;
        width: math.percentage(math.div($i, $grid-columns));
    }
}

@for $i from 0 through ($grid-columns - 1) {
    .offset-#{$i} {
        margin-left: math.percentage(math.div($i, $grid-columns));
    }
}

@for $i from 0 through $order-columns {
    .order-#{$i} {
        order: $i !important;
    }
}

@each $breakpoint, $value in $breakpoints {
    @include media-breakpoint-up($breakpoint) {
        .col-#{$breakpoint} {
            flex: 1 0 0%;
        }

        @for $i from 1 through $grid-columns {
            .col-#{$breakpoint}-#{$i} {
                flex: 0 0 auto;
                width: math.percentage(math.div($i, $grid-columns));
            }
        }

        @for $i from 0 through ($grid-columns - 1) {
            .offset-#{$breakpoint}-#{$i} {
                margin-left: math.percentage(math.div($i, $grid-columns));
            }
        }

        @for $i from 0 through $order-columns {
            .order-#{$breakpoint}-#{$i} {
                order: $i !important;
            }
        }
    }
}

.h-100 {
    height: 100%;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex !important;
}

@each $breakpoint, $value in $breakpoints {
    @if $value !=0 {
        @include media-breakpoint-up($breakpoint) {
            .d-#{$breakpoint}-none {
                display: none !important;
            }

            .d-#{$breakpoint}-flex {
                display: flex !important;
            }
        }
    }
}

:root {
    // Colors
    --color-primary-red: #CF462A;
    --color-primary-darkenred: #A73E29;
    --color-primary-blue: #88bee2;
    --color-primary-purple: #5b35d5;
    --color-secondary-violet: #C05AC9;
    --color-secondary-skyblue: #69AFFF;
    --color-secondary-green: #35C06F;
    --color-secondary-red: #E54233;
    --color-secondary-gold: #FFC169;
    --color-secondary-blue: #697DFF;
    --color-neutral-white: #FFFFFF;
    --color-neutral-white-rgb: 255, 255, 255;
    --color-neutral-brightbrokenwhite: #fbfbfb;
    --color-neutral-brokenwhite: #F5F5F5;
    --color-neutral-brightgray: #E8E8E8;
    --color-neutral-lightgray: #EFEFEF;
    --color-neutral-gray: #C9C9C9;
    --color-neutral-darkgray: #9f9f9f;
    --color-neutral-lightmidgray: #8c8c8c;
    --color-neutral-midgray: #6f6f6f;
    --color-neutral-darkmidgray: #5a5a5a;
    --color-neutral-brightblack: #4B4B4B;
    --color-neutral-brokenblack: #2A2A2A;
    --color-neutral-black: #000000;
    --color-neutral-black-rgb: 0, 0, 0;
    --color-neutral-brightblue: #f4f6f7;
    --color-neutral-skyblue: #f0f7ff;
    --color-neutral-blue: #e0eefd;
    --color-neutral-darkblue: #4b637d;
    --color-neutral-deepblue: #2a445f;
    --color-neutral-blackblue: #1f2e3e;
    --color-neutral-amber: #7c2d12;
    --color-neutral-whiteamber: #fff7ed;
    --color-functional-gold: #FFBB00;
    --color-functional-red: #D93025;
    --color-functional-red-rgb: 217, 48, 37;
    --color-functional-orange: #ff8c00;
    --color-functional-orange-rgb: 255, 140, 0;
    --color-functional-green: #00a71f;
    --color-functional-green-rgb: 70, 194, 92;
    --color-client: var(--color-primary-red);

    // Gutters
    --x-gutter-dashboard-md: 1.5rem;
    --x-gutter-dashboard-lg: 2rem;
    --y-gutter-dashboard-sm: 1rem;
    --y-gutter-dashboard-md: 1.5rem;
    --y-gutter-dashboard-lg: 2rem;
    --y-gutter-dashboard-xl: 7.5rem;
    --y-section-padding-sm: 2rem;
    --y-section-padding-md: 3rem;
    --y-section-padding-lg: 4rem;
    --section-padding-sm: 1rem;
    --section-padding-md: 1.5rem;
    --section-padding-lg: 2rem;
    --section-padding-xl: 3rem;
    --section-gap-xxs: .25rem;
    --section-gap-xs: .5rem;
    --section-gap-sm: .75rem;
    --section-gap-md: 1rem;
    --section-gap-lg: 1.5rem;
    --section-gap-xl: 2rem;
    --section-gap-xxl: 3rem;
    --card-padding-xs: .5rem;
    --card-padding-sm: .75rem;
    --card-padding-md: 1rem;
    --card-padding-lg: 1.5rem;
    --card-gap-xs: .5rem;
    --card-gap-sm: .75rem;
    --card-gap-md: 1rem;
    --card-gap-lg: 1.5rem;

    // Elements
    --navbar-height: 5.5rem;

    // Timings
    --flash-animation-duration-in: 0.45s;
    --flash-animation-duration-out: 0.3s;

    // Settings
    --current-language: 'en';
    --dashboard-scrolloffset-form-quote: 160;

    @include media-breakpoint-down(xl) {
        --x-gutter-dashboard-md: 1.375rem;
        --x-gutter-dashboard-lg: 1.875rem;
        --y-gutter-dashboard-md: 1.375rem;
        --y-gutter-dashboard-lg: 1.875rem;
        --y-gutter-dashboard-xl: 7rem;
        --y-section-padding-sm: 1.875rem;
        --y-section-padding-md: 2.75rem;
        --y-section-padding-lg: 3.75rem;
        --section-padding-sm: .875rem;
        --section-padding-md: 1.375rem;
        --section-padding-lg: 1.875rem;
        --section-padding-xl: 2.75rem;
        --section-gap-sm: .625rem;
        --section-gap-md: .875rem;
        --section-gap-lg: 1.375rem;
        --section-gap-xl: 1.875rem;
        --section-gap-xxl: 2.75rem;
        --navbar-height: 5.25rem;
    }

    @include media-breakpoint-down(lg) {
        --card-padding-xs: .375rem;
        --card-padding-sm: .625rem;
        --card-padding-md: .875rem;
        --card-padding-lg: 1.375rem;
    }

    @include media-breakpoint-down(sm) {
        --x-gutter-dashboard-md: 1.25rem;
        --x-gutter-dashboard-lg: 1.75rem;
        --y-gutter-dashboard-sm: .875rem;
        --y-gutter-dashboard-md: 1.125rem;
        --y-gutter-dashboard-lg: 1.75rem;
        --y-gutter-dashboard-xl: 6rem;
        --y-section-padding-sm: 1.75rem;
        --y-section-padding-md: 2.5rem;
        --y-section-padding-lg: 3.5rem;
        --section-padding-sm: .75rem;
        --section-padding-md: 1.25rem;
        --section-padding-lg: 1.75rem;
        --section-padding-xl: 2.5rem;
        --section-gap-sm: .5rem;
        --section-gap-md: .75rem;
        --section-gap-lg: 1.25rem;
        --section-gap-xl: 1.75rem;
        --section-gap-xxl: 2.625rem;
    }

    @include media-breakpoint-down(xs) {
        --card-padding-xs: .25rem;
        --card-padding-sm: .5rem;
        --card-padding-md: .75rem;
        --card-padding-lg: 1.25rem;
    }
}

// Typography
$font-family-heading: "Nunito", sans-serif;
$font-family-body: "Nunito", sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

// Colors
$color-primary-red: var(--color-primary-red);
$color-primary-darkenred: var(--color-primary-darkenred);
$color-primary-blue: var(--color-primary-blue);
$color-primary-purple: var(--color-primary-purple);
$color-secondary-violet: var(--color-secondary-violet);
$color-secondary-skyblue: var(--color-secondary-skyblue);
$color-secondary-green: var(--color-secondary-green);
$color-secondary-red: var(--color-secondary-red);
$color-secondary-gold: var(--color-secondary-gold);
$color-secondary-blue: var(--color-secondary-blue);
$color-neutral-white: var(--color-neutral-white);
$color-neutral-white-rgb: var(--color-neutral-white-rgb);
$color-neutral-brightbrokenwhite: var(--color-neutral-brightbrokenwhite);
$color-neutral-brokenwhite: var(--color-neutral-brokenwhite);
$color-neutral-brightgray: var(--color-neutral-brightgray);
$color-neutral-lightgray: var(--color-neutral-lightgray);
$color-neutral-gray: var(--color-neutral-gray);
$color-neutral-darkgray: var(--color-neutral-darkgray);
$color-neutral-lightmidgray: var(--color-neutral-lightmidgray);
$color-neutral-midgray: var(--color-neutral-midgray);
$color-neutral-darkmidgray: var(--color-neutral-darkmidgray);
$color-neutral-brightblack: var(--color-neutral-brightblack);
$color-neutral-brokenblack: var(--color-neutral-brokenblack);
$color-neutral-black: var(--color-neutral-black);
$color-neutral-black-rgb: var(--color-neutral-black-rgb);
$color-neutral-brightblue: var(--color-neutral-brightblue);
$color-neutral-skyblue: var(--color-neutral-skyblue);
$color-neutral-brightblue: var(--color-neutral-brightblue);
$color-neutral-blue: var(--color-neutral-blue);
$color-neutral-darkblue: var(--color-neutral-darkblue);
$color-neutral-deepblue: var(--color-neutral-deepblue);
$color-neutral-blackblue: var(--color-neutral-blackblue);
$color-neutral-amber: var(--color-neutral-amber);
$color-neutral-whiteamber: var(--color-neutral-whiteamber);
$color-functional-gold: var(--color-functional-gold);
$color-functional-red: var(--color-functional-red);
$color-functional-red-rgb: var(--color-functional-red-rgb);
$color-functional-orange: var(--color-functional-orange);
$color-functional-orange-rgb: var(--color-functional-orange-rgb);
$color-functional-green: var(--color-functional-green);
$color-functional-green-rgb: var(--color-functional-green-rgb);
$color-client: var(--color-client);

// Gutters
$x-gutter-dashboard-md: var(--x-gutter-dashboard-md);
$x-gutter-dashboard-lg: var(--x-gutter-dashboard-lg);
$y-gutter-dashboard-sm: var(--y-gutter-dashboard-sm);
$y-gutter-dashboard-md: var(--y-gutter-dashboard-md);
$y-gutter-dashboard-lg: var(--y-gutter-dashboard-lg);
$y-gutter-dashboard-xl: var(--y-gutter-dashboard-xl);
$y-section-padding-sm: var(--y-section-padding-sm);
$y-section-padding-md: var(--y-section-padding-md);
$y-section-padding-lg: var(--y-section-padding-lg);
$section-padding-sm: var(--section-padding-sm);
$section-padding-md: var(--section-padding-md);
$section-padding-lg: var(--section-padding-lg);
$section-padding-xl: var(--section-padding-xl);
$section-gap-xxs: var(--section-gap-xxs);
$section-gap-xs: var(--section-gap-xs);
$section-gap-sm: var(--section-gap-sm);
$section-gap-md: var(--section-gap-md);
$section-gap-lg: var(--section-gap-lg);
$section-gap-xl: var(--section-gap-xl);
$section-gap-xxl: var(--section-gap-xxl);
$card-padding-xs: var(--card-padding-xs);
$card-padding-sm: var(--card-padding-sm);
$card-padding-md: var(--card-padding-md);
$card-padding-lg: var(--card-padding-lg);
$card-gap-xs: var(--card-gap-xs);
$card-gap-sm: var(--card-gap-sm);
$card-gap-md: var(--card-gap-md);
$card-gap-lg: var(--card-gap-lg);

// Elements
$navbar-height: var(--navbar-height);

// Layer styles
$border-radius-xxs: .25rem;
$border-radius-xs: .375rem;
$border-radius-sm: .5rem;
$border-radius-md: .75rem;
$border-radius-lg: 1rem;
$border-radius-xl: 1.5rem;
$border-radius-xxl: 2rem;
$border-radius-xxxl: 3rem;

$box-shadow-sm: 0px 2px 8px rgba($color-neutral-black-rgb, 0.1);
$box-shadow-md: 0px 4px 12px rgba($color-neutral-black-rgb, 0.1);
$box-shadow-lg: 0px 8px 24px rgba($color-neutral-black-rgb, 0.25);
$box-shadow-smooth: 0 14px 30px rgba($color-neutral-black-rgb, 0.04);
$card-shadow-md: 0px 2px 8px 1px rgba($color-neutral-black-rgb, 0.1);
$text-shadow-sm: 0px 1px 2px rgba($color-neutral-black-rgb, .75);
$text-shadow-md: 0px 4px 4px rgba($color-neutral-black-rgb, 0.25);

$border-inputs: 1px solid $color-neutral-gray;
$border-soft: 1px solid $color-neutral-brightgray;

// Settings
$current-language: var(--current-language);

// Keyframes
@keyframes skeleton-loading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}